<br /><br />

<%= render "pager" %>

<div class="panel panel-default">
  <div class="panel-heading">Learnt on <strong><%= @fact.date %></strong></div>
  <div class="panel-body">
	<%= @fact.fact.html_safe %>
  </div>
</div>

<%= render "disqus" %>

<%= render "fork" %>
